@import '../../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css';

.header {
  display: flex;
  align-items: center;
  background-color: #040538; 
  padding: 1rem;
  border-radius: 5px;
  color: white;
}

.header h2 {
  margin: 0;
}

.header .btn {
  background-color: #6c757d;
  border: none;
  color: white;
}

.input-group-text {
  background-color: #c14292; 
  color: white;
}

.btn-primary {
  background-color: #0c43a9; 
  border-color: #0c43a9;
}

.btn-success {
  background-color: #117b89; 
  border-color: #23cafd; 
}

.btn-info {
  background-color: #3eebc0; 
  border-color: #200df0; 
}

.btn-danger {
  background-color: #5d1b0a; 
  border-color: #c76b09; 
}


.table-hover tbody tr:hover {
  background-color: #0dcaf0; /* Azul */
  color: white;
}

.table-dark {
  background-color: #4f055c; /* Negro */
  color: #6f42c1; /* Morado */
}

.text-end .btn-group .btn { 
  margin-right: 0.5rem;
}

.text-{
    color: rgb(158, 198, 236);
}
