<header class="header mb-5">
  <h2 class="text-">Categorías</h2>
  <a class="btn btn-secondary ms-3" routerLink="Producto">Productos</a>
</header>

<div class="input-group mb-3">
  <span class="input-group-text">ID</span>
  <input type="number" class="form-control" placeholder="Buscar por ID" #searchInput>
  <button class="btn btn-primary" type="button" (click)="buscarPorId(searchInput.value)">Buscar</button>
</div>

<div class="text-end mb-4">
  <button class="btn btn-success" routerLink="/new">Crear categoría</button>
</div>

<table class="table table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Fecha Creacion</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (categoria of categorias; track categoria.idCategoria) {
      <tr>
        <td>{{categoria.idCategoria}}</td>
        <td>{{categoria.nombreCategoria}}</td>
        <td>{{categoria.descripcionCategoria}}</td>
        <td>{{categoria.fechaCreacion | date:'dd/MM/yyyy hh:mm a'}}</td>
        <td class="text-end">
          <div class="btn-group">
            <button class="btn btn-info" [routerLink]="[categoria.idCategoria, 'edit'] ">
              Editar
            </button>
            <button class="btn btn-danger" (click)="deleteCategoria(categoria)">
              Eliminar
            </button>
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>